@model IEnumerable<ECommerceWebsite.MvcWebUI.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2>Ürün Listesi</h2>
    <hr />

    <p>
        @Html.ActionLink("Yeni Ürün", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <hr />
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th style="width:140px;"></th>
            <!--Eğer image sığmazsa bir üst satırdaki kod bloğunu image'ye yerleştir ve düzenle.-->
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Theme/img/@item.Image" width="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @if (item.IsHome)
                    {
                        <label class="badge badge-success">
                            <i class="fa-solid fa-circle-check"></i>
                            Evet
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa-solid fa-circle-check"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td>
                    @if (item.IsApproved)
                    {
                        <label class="badge badge-success">
                            <i class="fa-solid fa-circle-check"></i>
                            Evet
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa-solid fa-circle-check"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id },new {@class="btn btn-primary btn-sm"}) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>